h1 {
  font-size: 28px;
  margin-top: 25px;
  border-bottom: 1px solid #000000;
}

h2 {
  font-size: 24px;
  margin-top: 15px;
  border-bottom: 1px solid #000000;
}

h3 {
  font-size: 21px;
  margin-top: 10px;
  border-bottom: 1px solid #000000;
}