<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Process Control App" Language="1033" Version="1.0.0" Manufacturer="Spbstu" UpgradeCode="f74488bd-6a6a-4937-83e7-669ec049bc55">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate  EmbedCab="yes"/>

    <!-- Product features (I have only one feature (atomic part of the product))-->
    <Feature Id="ProcessControlFeature" Title="ProcessControlSetup86" Level="1">
      <ComponentGroupRef Id="BinComponents" />
      <ComponentGroupRef Id="LoggingComponents" />
      <ComponentGroupRef Id="DataComponents" />
      <ComponentRef Id="ProcessControllShortcutComponent"/>
    </Feature>
    
    <!-- UI  -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUILicenseRtf"
                 Value="$(var.SolutionDir)gpl3.rtf" />
  </Product>

  <!-- Variables -->
  <?define QTBIN= "C:\Qt\Qt5.4.0(x86)\5.4\msvc2013\bin" ?>

  <!-- Fragments -->
  <Fragment>
    <!-- Project structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ProcessControl">
          <Directory Id="BINFOLDER" Name = "bin"/>
          <Directory Id="DATAFOLDER" Name = "data"/>
          <Directory Id="LOGGINGFOLDER" Name = "logging"/>
        </Directory>
      </Directory>
      <!-- dir to place shortcut (app menu) -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MyShortcutsDir" Name="Process Control" />
      </Directory>
    </Directory>
  </Fragment>

  <!-- Fragment with all files to install -->
  <Fragment>
    <!-- /bin folder -->
    <ComponentGroup Id="BinComponents" Directory="BINFOLDER">
      <!-- ProcessControl.exe - main executable -->
      <Component Id="MainExecutable" Guid="{EBDB5FCE-D710-4D1C-BD42-D71C29419CBB}">
        <File Source="$(var.ProcessControl.TargetPath)" Id='ProcessControlEXE' KeyPath="yes" Checksum="yes"/>
      </Component>
      <!-- taskmgrHooker%ARCHITECTURE%.exe - supporting executable -->
      <Component Id="TaskmgrHooker32EXE" Guid="">
        <File Source="$(var.taskmgrHooker.TargetDir)\taskmgrHooker32.exe" Id='FILE_TaskmgrHooker32EXE' KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="TaskmgrHooker64EXE" Guid="">
        <File Source="$(var.taskmgrHooker.TargetDir)\taskmgrHooker64.exe" Id='FILE_TaskmgrHooker64EXE' KeyPath="yes" Checksum="yes"/>
      </Component>
      <!-- DLL's -->
      <Component Id="Qt5CoreDLL" Guid="{0263D992-827B-4BF6-AFB6-A9D5A37A27EF}">
        <File Source="$(var.QTBIN)\Qt5Core.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ICUDT53DLL" Guid="{3CB179E8-D7C6-4323-80B6-7079639B1B07}">
        <File Source="$(var.QTBIN)\icudt53.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ICUIN53DLL" Guid="{3A1D7461-CFD2-452B-98EE-01575339B9F2}">
        <File Source="$(var.QTBIN)\icuin53.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ICUUC53DLL" Guid="{31FD184D-CAD3-4EA9-8DE2-32CE4F5B2662}">
        <File Source="$(var.QTBIN)\icuuc53.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Qt5WidgetsDLL" Guid="{2082E85E-1183-4ED7-BC8C-9F4502A060F4}">
        <File Source="$(var.QTBIN)\Qt5Widgets.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Qt5GuiDLL" Guid="{9DF8D0FA-A27C-42E4-87B5-1B5239A49249}">
        <File Source="$(var.QTBIN)\Qt5Gui.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <!-- empty folder for logging -->
    <ComponentGroup Id="LoggingComponents" Directory="LOGGINGFOLDER">
      <Component Id="loggingComp" Guid="{5F00A19E-7A6C-48A8-A3E0-DD230352B990}" SharedDllRefCount="no" KeyPath="yes" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
        <CreateFolder/>
        <RemoveFolder Id="RemoveLoggingDir" On="uninstall" />
      </Component>
    </ComponentGroup>

    <!-- empty folder for data -->
    <ComponentGroup Id="DataComponents" Directory="DATAFOLDER">
      <Component Id="dataComp" Guid="{35F3E62A-3C25-4024-BB35-6918D7880A11}" SharedDllRefCount="no" KeyPath="yes" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
        <CreateFolder/>
        <RemoveFolder Id="RemoveDataDir" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>

  
  <!-- Some additions: shortcuts and ...-->
  <Fragment>
    <Icon Id="icon_uninstall" SourceFile="$(var.ProcessControl.ProjectDir)Resources\uninstall_icon.ico"/>
    <Icon Id="icon_install" SourceFile="$(var.ProcessControl.ProjectDir)Resources\install_icon.ico"/>
    <Icon Id="icon_main" SourceFile="$(var.ProcessControl.ProjectDir)Resources\mainTray.ico"/>

    <Property Id="ARPPRODUCTICON" Value="icon_install" />
    
    <DirectoryRef Id="MyShortcutsDir">
      <Component Id="ProcessControllShortcutComponent" Guid="{FA03BA54-14E6-4366-8249-C438A7ADDE23}">
        <Shortcut Id="ProcessControlStartMenuShortcut" 
                  Name="Process Control" 
                  Description="Start Process Control"
                  Target="[BINFOLDER]$(var.ProcessControl.TargetFileName)"
                  Icon="icon_main"/>
        
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall Process Control"
                  Description="Uninstall Process Control"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  Icon="icon_uninstall"/>

        <RegistryValue Root="HKCU"
                       Key="Software\Spbstu\ProcessControl"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />

        <RemoveFolder Id="RemoveMyShortcutsDir" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
  

</Wix>